@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/PKMN\ RBYGSC.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    font-family: 'Pokemon';
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

h1  {
    text-align: center;
}

.main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    height:100%;
    width:auto;
    background-color: skyblue;
    background-image: url('../images/background.jpeg');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:50%;
    border: 6px black;
    border-style: groove;
    padding:3rem 4rem;
    background-color: red;
}

.ballcontainer {
    background-color: grey;
    width:100%;
    height:40%;
    display:flex;
    justify-content: space-around;
    padding: 2rem 2rem;
    border: 5px black solid;
}

.closedball {
    width:20%;
    height:auto;
}

#text {
    border: 5px solid black;
    font-size:2rem;
    background-color: white;
    width:100%;
    height:auto;
    padding:2rem;
}